@model IEnumerable<JardineriaGrupo.Models.GamaProducto>

@{ ViewData["Title"] = "Gamas de Productos"; }

<h1>Gamas de Productos</h1>

<p>
    <a asp-action="Create">Crear nueva gama</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionHtml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.ActionLink(item.Gama, "Index", "Product", new { gama = item.Gama })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DescripcionTexto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DescripcionHtml)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Imagen)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Gama">Editar</a> |
        <a asp-action="Details" asp-route-id="@item.Gama">Detalles</a> |
        <a asp-action="Delete" asp-route-id="@item.Gama">Eliminar</a>
    </td>
</tr>}
    </tbody>
</table>
@Html.ActionLink("Volver a inicio", "Index", "Home")
