@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@model IPagedList<JardineriaGrupo.Models.Producto>

@{ ViewData["Title"] = "Index"; }

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo producto</a>
    <form asp-action="Index" method="get">
        <div>
            <p>
                Buscar por Nombre: <input type="text" name="buscado"
                                          value="@ViewData["busqueda_actual"]" />
                <input type="submit" value="Buscar" /> |
                <a asp-action="Index">Limpiar búsqueda</a>
            </p>
        </div>
    </form>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Dimensiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CantidadEnStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PrecioProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().GamaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dimensiones)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Proveedor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadEnStock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrecioVenta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrecioProveedor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GamaNavigation.Gama)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.CodigoProducto">Editar</a> |
        <a asp-action="Details" asp-route-id="@item.CodigoProducto">Detalles</a> |
        <a asp-action="Delete" asp-route-id="@item.CodigoProducto">Eliminar</a>
    </td>
</tr>}
    </tbody>
</table>
@Html.PagedListPager(Model
    , nueva_pagina => Url.Action("Index", "Product"
        , new { nueva_pagina, buscado = (string)null, busqueda_actual = ViewData["busqueda_actual"] })
    , new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
@Html.ActionLink("Volver a inicio", "Index", "Home")


